body
  background: #000
  color: #555
  box-sizing: border-box
  margin: 20px
  font-family: Helvetica, sans-serif

*
  margin: 0
  padding: 0

h1
  font-weight: 100
  color: #bbb 
  text-align: center

h2
  font-weight: 100
  color: #777 
  text-align: center 
  width: 400px
  margin: 0 auto 

h3
  font-weight: 100
  text-align: center 
  a
    color: #555
    text-decoration: none

    &:hover
      text-decoration: underline

canvas
  display: block
  margin: 0 auto

#canvas
  margin: 50px auto
  height: 500px
  width: 500px

  p
    padding-top: 240px
    text-align: center
    color: #222