/* line 1, all.css.sass */
body {
  background: black;
  color: #555555;
  box-sizing: border-box;
  margin: 20px 20px 100px 20px;
  font-family: Helvetica, sans-serif; }

/* line 8, all.css.sass */
* {
  margin: 0;
  padding: 0; }

/* line 12, all.css.sass */
.neato, h1, h2, h3, h4 {
  font-weight: 100; }

/* line 15, all.css.sass */
h1, h2, h3, h4 {
  text-align: center;
  width: 450px;
  margin: 20px auto; }

/* line 21, all.css.sass */
h1 {
  color: #bbbbbb; }

/* line 24, all.css.sass */
h2 {
  color: #777777; }

/* line 27, all.css.sass */
h3 {
  color: #444444; }

/* line 31, all.css.sass */
h4 {
  font-weight: 100;
  text-align: center; }
  /* line 34, all.css.sass */
  h4 a {
    color: #555555;
    text-decoration: none; }
    /* line 38, all.css.sass */
    h4 a:hover {
      text-decoration: underline; }

/* line 41, all.css.sass */
canvas {
  display: block;
  margin: 0 auto;
  background: black;
  position: absolute; }

/* line 47, all.css.sass */
#canvas {
  margin: 50px auto;
  height: 500px;
  width: 500px;
  position: relative; }
  /* line 53, all.css.sass */
  #canvas p {
    position: absolute;
    width: 100%;
    top: 240px;
    text-align: center;
    color: #222222; }
