h1 litebrite
h2 A pointcloud rendering toy. Built with threejs, webgl, and a sprinkle of jquery.
h3 Below, the average color of some geotagged pictures scraped off the web.
#canvas
  p Loading
h3: a href="http://github.com/bwiklund/litebrite" github